
.quote-text{
    padding: 14px 20px;
    font-weight: 700;
    width: 452px;
    height: 110px;
    font-size: 40px;
    line-height: 50px;
}

.text{
    width: calc(529px - 20px);
    height: 638px;
    background-color: var(--clr-white-1);
    padding: 24px 40px;
    font-weight: 400;
    font-size: 25px;
    line-height: calc(48px - 3px);
}

.text-image{
    width: calc(529px - 80px);
    height: 638px;
}

.name{
    margin-top: 17px;
    font-weight: 700;
    font-size: 18px;
}

.job{
    font-weight: 400;
    font-size: 12px;
}

